.window{
    display: flex;
    flex-direction: column;

    box-shadow: 0 20px 60px rgba(0, 0, 0, 0.7), 
                0 0 0 1px rgba(255, 255, 255, 0.05);

    backdrop-filter: blur(10px);
}

.window:target{
    z-index: 10;
}

.titlebar{
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 36px;
    padding: 0 10px;

    background: linear-gradient(to bottom, #1a1a1a, #141414);
    border-bottom: 1px solid var(--border);

    position: relative;
}

.titlebar::before{
    content: "";
    display: flex;
    gap: 6px;
    width: 50px;
}

.titlebar::after{
    /* content: "● ● ●"; */
    font-size: 10px;
    color: #666;
}

.titlebar span{
    position: relative;
    left: -5%;
    font-size: 13px;
    color: var(--text-dim);
}

.close{
    font-size: 16px;
    opacity: 0.6;
}

.close:hover{
    opacity: 1;
}

.content{
    flex: 1;
    background: var(--bg-window);
}

.terminal-ui{
    background: radial-gradient(circle at top, #0f0f0f, #050505);
    box-shadow: inset 0 0 20px #00ff9f11;
    color: #00ff9f;

    font-family: monospace;
    font-size: 13px;

    padding: 15px;
    height: 100%;

    display: flex;
    flex-direction: column;
    gap: 6px;
}

.terminal-ui::after{
    content: "_";
    animation: blink 1.5s infinite;
    margin-top: 5px;
}

.terminal-ui p{
    line-height: 2;
}

.terminal-ui p:hover{
    content: ">";
    color: #00ff9f;
}

.terminal-ui label{
    color: #3cff00;
    cursor: pointer;
    margin-right: 10px;
    font-weight: 500;
}

.terminal-ui lable:hover{
    text-decoration: underline;
}

.output{
    /* display: none; */
    margin-top: 8px;
    padding-left: 10px;
    border-left: 2px solid #00ff9f33;
}

#cmd-help:checked ~ .terminal-output .help{
    display: block;
}

#cmd-about:checked ~ .terminal-output .about{
    display: block;
}

#cmd-projects:checked ~ .terminal-output .projects{
    display: block;
}

.about-container{
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.about-title{
    font-size: 28px;
    letter-spacing: 1px;
    color: var(--text-main);
}

.about-subtitle{
    font-size: 13px;
    color: var(--text-dim);
    margin-top: -10px;
}

.about-section{
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding-top: 10px;
    border-top: 1px solid var(--border);
}

.label{
    font-size: 14px;
    text-transform: uppercase;
    color: var(--text-dim);
    letter-spacing: 1px;
}

.about-section p{
    font-size: 15px;
    line-height: 1.5;
    font-weight: 600;
}

.settings-container{
    display: flex;
    height: 100%;
}

.settings-container input{
    display: none;
}

.settings-sidebar{
    width: 160px;
    border-right: 1px solid var(--border);
    padding: 10px;

    display: flex;
    flex-direction: column;
    gap: 8px;
}

.settings-sidebar label{
    font-size: 14px;
    color: var(--text-dim);
    cursor: pointer;
    padding: 6px 8px;
    border-radius: 5px;

    transition: all 0.2s ease;
}

.settings-container label:hover{
    background: #1a1a1a;
    color: var(--text-main);
}

/* ACTIVE TAB OF SETTINGS */
#home:checked ~ .settings-sidebar label[for="home"],
#appearance:checked ~ .settings-sidebar label[for="appearance"],
#system:checked ~ .settings-sidebar label[for="system"],
#about-settings:checked ~ .settings-sidebar label[for="about-settings"],
#storage:checked ~ .settings-sidebar label[for="storage"],
#gaming:checked ~ .settings-sidebar label[for="gaming"]{
    background: var(--accent-soft);
    color: var(--accent);
}

.settings-main{
    flex: 1;
    padding: 15px;
}

.panel{
    display: none;
}

#home:checked ~ .settings-main .home,
#appearance:checked ~ .settings-main .appearance,
#system:checked ~ .settings-main .system,
#about-settings:checked ~ .settings-main .about-settings,
#storage:checked ~ .settings-main .storage,
#gaming:checked ~ .settings-main .gaming{
    display: block;
}

.panel h2{
    font-size: 20px;
    margin-bottom: 10px;
}

.panel p{
    font-size: 18px;
    color: var(--text-dim);
    margin-bottom: 5px;
}

.projects-container{
    display: flex;
    flex-direction: column;
    gap: 15px;
    min-height: 0;
    height: 100%;
}

.projects-title{
    margin-left: 10px;
    margin-top: 8px;
    font-size: 22px;
    color: var(--text-main);
    letter-spacing: 1px;
}

.project-list{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 10px;
    padding-right: 5px;
    overflow-y: auto;
    min-height: 0;
}

.project-card{
    display: flex;
    align-items: center;
    gap: 12px;

    /* padding: 12px; */

    background: #1a1a1a;
    border: 1px solid var(--border);
    border-radius: 8px;
    transition: all 0.2s ease;
}

.project-card:hover{
    background: #222;
    border-color: var(--accent);
    transform: translateY(-2px);
}

.project-card .icon{
    font-size: 30px;
}

.project-card h3{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    margin-bottom: 2px;
}

.project-card p{
    font-size: 12px;
    color: var(--text-dim);
}

.calendar-ui h3{
    font-size: 18px;
    margin-bottom: 10px;
}

.calendar-ui span{
    background: #1a1a1a;
    border: 1px solid var(--border);
}

.calendar-ui span:hover{
    background: var(--accent-soft);
}

#game .content{
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-dim);
    font-size: 14px;
}

@keyframes blink{
    0%, 50%, 100% { opacity: 1; }
    25%, 75% { opacity: 0; }
}